/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    --primary-color: #0B1516;
    --secondary-color: rgb(17, 17, 17);
    --acent-color: hsl(51, 80%, 66%);
    --acent-color-hover: hsl(51, 80%, 60%);
    --white-color: #FCFCFC;
    --black-color: #000;
    
    /*========== Font and typography ==========*/
    --body-font: sans-serif;
    --h1-font-size: 1.75rem;
    --normal-font-size: 0.938rem;
/*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
    :root {
        --h1-font-size: 1.875;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body{
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: 1.5;
    background: linear-gradient(to left, #111111, #060606);
    color: var(--white-color);
}

h1{
    font-weight: var(--font-bold);
    margin-bottom: 0.5rem;
}

a {
    text-decoration: none;
    font-weight: var(--font-semi-bold);
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 90rem;
  margin: 0 1.5rem;
}

.section {
  padding: 4rem 0 1rem;
} 

/*=============== STYLE FOR SMALL DEVICES ===============*/
/*=============== back btn ===============*/
/* .back__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--secondary-color);
    font-size: 2rem;
    color: var(--acent-color);
    width: 4rem;
    height: 4rem;
    margin-bottom: 3.75rem;

} */

/* .back__button i:hover {
    transition: 0.3s ease-in;
    color: aqua;
    transform: scale(1.3);
    transform: translateX(-20px);
} */

/*=============== DESACTIVE LOGIN IMG ===============*/
.login__img {
    display: none;
}

/*=============== LOGIN ===============*/

.login__data {
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    background-color: var(--secondary-color);
    padding: 1.875rem;
    max-width: 25rem;
    box-shadow: 0 16px 40px rgba(17, 17, 17, 0.10);
}

.login__data .user__icon {
    font-size: 4rem;
    margin-bottom: 1.875rem;
}

.login__data p, .login__data input {
    opacity: 0.7;
}

.login__description p {
    max-width: 20.625rem;
    margin: 0 auto;
}
/*=============== FORM ===============*/
.form__container {
    margin-top: 3rem;
}

.form__div {
    display: grid;
    grid-template-columns: 8% 92%;
    column-gap: 3px;
    align-items: center;
}

.form__div label {
    text-align: left;
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
}

.form__div .input__icon {
    font-size: 1.5rem;
}

.form__div input {
    color: var(--white-color);
    grid-area: 2/1 /3 /3;
    margin-top: 0.375rem;
    height: 1.875rem;
    outline: none;
    border: 1px solid var(--white-color);
    background-color: transparent;
    width: 100%;
    padding-left: 0.5rem;
}

.form__div input:focus {
    opacity: 1;
    border: 1px solid var(--acent-color);
    transform: translateY(10px);
    transition: ease-in 0.1s;

}

.form__div div {
    text-align: left;
}

.form__div-one {
    margin-bottom: 1.5rem;
}

/*=============== BTNS ===============*/
.btn__primary {
    width: 100%;
    padding: 1.125rem;
    background-color: var(--acent-color);
    color: var(--black-color);
    font-size: 1.063rem;
    font-weight: var(--font-semi-bold);
    margin-top: 2.25rem;
    outline: none;
    border: none;
}

.btn__primary:hover {
    transition: ease-in 0.2s;
    background-color: var(--acent-color-hover);
}

@media (max-width: 20rem) {
    .login__data {
        padding: 1rem;
    }

    .form__div {
        grid-template-columns: 10% 90%;
    }
}

@media (min-width: 68.75rem) {
    .container {
        margin: 0;
    }

    .section {
        padding: 7.5rem 0 0;
    }
    
    .back__button {
        margin-bottom: 5.5rem;
    }

    .login__section {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
    }

    .login__section .box__img {
        position: relative;
        top: 0;
        left: 0;
        width: 50%;
        height: 100%;
    }

    .login__section .login__content {
        width: 50%;
        height: 100%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    /* .login__section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    } */

    .login__img {
        display: block;
        position: relative;
    }

    /* .login__img::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: aqua;
        z-index: 1;

    } */

    /* .login__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    } */

    .login__data {
        margin: 0 auto;
        padding: 2.5rem;
    }
}

@media (min-width: 90rem) {
    .container {
        margin: 0 auto;
    }
}
