/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

/*==================== VARIABLES CSS ====================*/
:root {
    
    /*========== Colors ==========*/
    --primary-color: #0B1516;
    --secondary-color: #172122;
    --acent-color: hsl(51, 100%, 66%);
    --acent-color-hover: hsl(51, 100%, 55%);
    --white-color: #FCFCFC;
    --black-color: #000;
    
    /*========== Font and typography ==========*/
    --body-font: 'Open Sans', sans-serif;
    --h1-font-size: 1.5rem;
    --normal-font-size: 0.875rem;
/*========== Font weight ==========*/
    --font-regular: 400;
    --font-semi-bold: 600;
    --font-bold: 700;
}

/*FONT SIZE FOR LARGES DEVICES */
@media (min-width: 968px) {
    :root {
        --h1-font-size: 1.875;
        --normal-font-size: 1rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-size: 100%;
}

body{
    height: 100vh;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--font-regular);
    line-height: 1.5;
    background-color: var(--primary-color);
    color: var(--white-color);
}

h1{
    font-weight: var(--font-bold);
    margin-bottom: 0.75rem-;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 81.25rem;
  margin: 0 1.5rem;
}

.section {
  padding: 3.75rem 0 1rem;
}

/*=============== STYLE FOR SMALL DEVICES ===============*/
/*=============== back btn ===============*/
.back__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--secondary-color);
    font-size: 2rem;
    color: var(--acent-color);
    width: 4.063rem;
    height: 4.063rem;
    margin-bottom: 3.75rem;

}

/*=============== DESACTIVE LOGIN IMG ===============*/
.login__img {
    display: none;
}

/*=============== LOGIN ===============*/

.login__data {
    border-radius: 10px;
    text-align: center;
    margin: 2.25rem auto 0 auto;
    background-color: var(--secondary-color);
    padding: 1.875rem;
    max-width: 25rem;
}

.login__data .user__icon {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}

.login__data p, .login__data input {
    opacity: 0.6;
}

.login__description p {
    max-width: 20.625rem;
}
/*=============== FORM ===============*/
.form__container {
    margin-top: 1.875rem;
}

.form__div {
    display: grid;
    grid-template-columns: 6% 94%;
    align-items: center;
}

.form__div label {
    text-align: left;
}

.form__div input {
    border-radius: 0.375rem;
    color: var(--white-color);
    grid-area: 2/1 /3 /3;
    margin-top: 0.375rem;
    height: 1.875rem;
    outline: none;
    border: 1px solid var(--white-color);
    background-color: transparent;
    width: 95%;
    padding-left: 0.5rem;
}

.form__div input:focus {
    opacity: 1;
    border: 1px solid var(--acent-color);
    transform: translateY(10px);
    transition: ease-in 0.1s;

}

.form__div div {
    text-align: left;
}
.form__div-one {
    margin-bottom: 1.5rem;
}

/*=============== BTNS ===============*/
.btn__primary {
    width: 100%;
    padding: 15px;
    background-color: var(--acent-color);
    color: var(--black-color);
    font-weight: var(--font-semi-bold);
    margin-top: 2.25rem;
    outline: none;
    border: none;
}

.btn__primary:hover {
    transition: ease-in 0.2s;
    background-color: var(--acent-color-hover);
}

@media (min-width: 68.75rem) {
    .container {
        margin: 0 4.5rem;
    }

    .section {
        padding: 5.625rem 0 3rem;
    }
    
    .back__button {
        margin-bottom: 5.625rem;
    }

    .login__img {
        display: block;
    }

    .login__content {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
    }

    .login__data {
        margin-top: 0;
        margin-right: 0;
    }
}

@media (min-width: 93.75rem) {
    .container {
        margin: 0 auto;
    }
}
